.fade-enter-active,
.fade-leave-active {
    transition: opacity .2s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

{
    opacity: 0;
}

.centrado {
    display: flex;
    justify-content: center;
}

em {
    background-color: #41B883;
}

.mr {
    margin-right: 1.5rem;
}

.mb {
    margin-bottom: 1.5rem;
}

.container {
    /* min-height: calc(100vh - 85px); */
    display: flex;
    /* justify-content: center; */
    flex-flow: row;
    /* align-items: stretch; */
    text-align: center;
    height: 100%;
    font-weight: 100;
    margin: 3.5rem;
}

.intro {
    /*introduzir flex column vh e justifycontent spacebetween*/
    flex: 1;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.3);
    /* margin: 3.5rem 0 3.5rem 3.5rem ; */
    padding: 3rem;
    font-size: 1.2rem;
    text-align: justify;
}